/* Write your CSS code in this file */

/*  main & headers */

#game {
  background-color: black;
  background: url(../img/green-matrix-background_r1gl8-f__F0000_op45.png);
  background-size: cover;
  height: 100%;
  /* height: 100%; */
  /*  no-repeat center; */
  /*position: relative;
  text-align: center; */
  /* display: inline; */
}

@font-face {
  font-family: 'Matrix';
  src: url(fonts/MATRIX.ttf);
  font-style: normal;
  font-weight: 900;
}

.center {
  text-align: center;
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* color:white;
  font-family: Matrix; */
  font-weight: 900;
  color: rgb(13, 255, 0);
  text-shadow: 0 0 20px rgb(13, 255, 0);
}

#title {
  font-size: 50px;
  font-family: Matrix;
  font-weight: 900;
  color: rgb(13, 255, 0);
  padding-top: 1%;
  margin: 0 15% 0 15%;
  border-radius: 100%;
  text-shadow: 0 0 30px rgb(13, 255, 0);

  }

  #subtitle {
    font-size: 30px;
    font-family: Matrix;
    font-weight: 900;
    color: rgb(13, 255, 0);
    text-shadow: 0 0 30px rgb(13, 255, 0);
  }



  /* hints input advice */

#main-box {
  width: 100%;
  height: 60%;
}

.three-col-box {
  display: inline-block;
  width: 100%;
  height: 60%;
}

#hint-reveal {
  width: 30%;
  float: left;
  margin-left: 2%;
}

#input-parent {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 3%;
}


.guessedNumber {
  height: 90%;
  width: 70%;
  text-align: center;
  font-size: 60px;
  color: rgb(13, 255, 0);
  border: solid 0.8px rgb(13, 255, 0);
  background-color: black;
  padding: 0 0px;
  border-radius: 100%;
  margin: 2% 0 2% 0%;
  box-shadow: 2px 5px 5px grey;
}

::-webkit-input-placeholder {
  /* font-family: Matrix; */
  font-weight: 100;
  color: rgb(13, 255, 0);
}

.btn-Guess{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Matrix; */
  font-weight: 500;
  color: rgb(13, 255, 0);
  height: 50px;
  width: 50px;
  font-size: 12px;
  padding: 0 0px;
  position: absolute;
  margin: 4% 0% 0 -3%;
  border: solid 0.8px rgb(13, 255, 0);
  background-color: black;
  border-radius: 100%;
  box-shadow: 2px 5px 5px grey;
}


#adviceReveal {
  /* background-color: lightgrey; */
  width: 30%;
  float: right;
  margin-right: 3%;
}


/*  stored guesses */

.guess {
  display: inline;
  font-size: 50px;
  border: solid 0.5px rgb(13, 255, 0);
  background-color: black;
  color: rgb(13, 255, 0);
  padding: 0 25px;
  border-radius: 100%;
  margin: 10px;
  box-shadow: 2px 5px 5px grey;
}

.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Matrix; */
  font-weight: 900;
  color: rgb(13, 255, 0);
  height: 50px;
  width: 50px;
  font-size: 12px;
  padding: 0 0px;
  /* position: absolute; */
  margin: 0px 0px 20px 0px;
  border: solid 0.8px rgb(13, 255, 0);
  background-color: black;
  border-radius: 100%;
  box-shadow: 2px 5px 5px grey;
}





/* footer */

.footer-background{
  background-color: black;
}

#footer {
  vertical-align: center;
  background-color: black;
  width: 100%;
  border-top: dotted 2px black;
}

#FSA-logo {
  /* background-color: black; */
  width: 30%;
  float: left;
  margin-left: 2%;
}

#project-name {
  /* background-color: rosybrown; */
  width: 30%;
  float: left;
  margin-left: 3%;
  font-family: Century, sans-serif;
  font-size: 80%;
}

#github {
  width: 6%;
  height: 6%;
}

#GH-logo {
  /* background-color: black; */
  width: 30%;
  float: right;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 2%;
}

img {
  display: inline;
  width: 100%;
  height: 100%;
}



